.about-page {
    main {
        .container {
            max-width: 940px;
        }
        .title-decoration.serif {
            font-size: $h3;
            &::after {
                margin-top: 20px;
            }
        }
        .social-group {
            @include list(0, 0, none);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: $h5;
            @include media-breakpoint-up(md) {
                gap: 50px;
            }
            @include media-breakpoint-down(md) {
                gap: 30px;
            }
            li > a {
                display: flex;
                align-items: center;
                @include media-breakpoint-down(md) {
                    flex-direction: column;
                    min-width: 60px;
                }
            }
            i.icon {
                display: block;
                font-size: $h3 * 2;
                @include media-breakpoint-up(md) {
                    margin-right: 10px;
                }
                @include media-breakpoint-down(md) {
                    margin-bottom: 5px;
                }
            }
        }
    }
    .btn-top {
        position: fixed;
        bottom: 60px;
        z-index: 3;
        @include media-breakpoint-up(md) {
            right: calc(((100% - 1020px) / 2) - 40px);
        }
        @include media-breakpoint-down(md) {
            right: 10px;
        }
    }
}
