.about-page {
    main {
        .container {
            max-width: 940px;
        }
        .social-group {
            @include list(0, 0, none);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: $h5;
            @include media-breakpoint-up(md) {
                gap: 50px;
            }
            @include media-breakpoint-down(md) {
                gap: 30px;
            }
            li {
                display: flex;
                align-items: center;
                @include media-breakpoint-down(md) {
                    flex-direction: column;
                }
            }
            i.icon {
                display: block;
                font-size: $h3 * 2;
                @include media-breakpoint-up(md) {
                    margin-right: 10px;
                }
                @include media-breakpoint-down(md) {
                    margin-bottom: 5px;
                }
            }
        }
    }
}
