.articles-page {
    main {
        .container {
            @include media-breakpoint-up(md) {
                padding-left: $container-padding-x * 1.5;
                padding-right: $container-padding-x * 1.5;
            }
        }
    }
    article {
        position: relative;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
}
