.edit-block {
    padding-top: 20px;
    .content,
    .table-of-content {
        p {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        > *:first-child {
            margin-top: 0;
        }
    }
    &.expand-block {
        padding-bottom: 40px;
    }
    &.ellipsis-block {
        .content,
        .table-of-content {
            overflow: hidden;
        }
        .content {
            max-height: 365px;
        }
        .table-of-content {
            max-height: 240px;
        }
        .more {
            display: flex;
        }
    }
    button.more {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        &::before {
            @include beforeafter('', block);
            position: absolute;
            bottom: calc(100% - 1px);
            width: 100%;
            height: 15px;
            background-color: $white;
            background: $white;
            background: linear-gradient(0deg, rgba($white, 1) 0%, rgba($white, 0) 100%);
        }
    }
}

.online-block {
    margin-bottom: 50px;
    ul {
        @include list(0, 0, none);
        display: flex;
        flex-wrap: wrap;
        grid-gap: 20px;
    }
    > ul {
        > li {
            + li {
                margin-top: 10px;
            }
            > .title {
                display: flex;
                align-items: center;
                span {
                    &.dot {
                        width: 10px;
                        height: 10px;
                        margin-left: 15px;
                        margin-right: 10px;
                        border-radius: 50%;
                        background-color: $orange-200;
                    }
                    &.txt {
                        color: $gray-400;
                    }
                }
            }
            > ul {
                margin-top: 10px;
            }
        }
    }
}
