@import "../opening";

.index-page {
  section {
    .anchor {
      top: -171px;
      @at-root .scroll#{&} {
        top: -106px;
      }
    }
  }
  .opening {
    overflow: hidden;
  }
  .slogan {
    background-color: $gray-100;
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 15px;
      letter-spacing: 0.125rem;
      @include media-breakpoint-up(md) {
        column-gap: 20px;
      }
      i.icon {
        font-size: 1.875rem;
        @include media-breakpoint-up(md) {
          font-size: 2.5rem;
        }
      }
      p {
        color: $gray-400;
      }
    }
  }
  .reading {
    background-color: $gray-100;
    .reading-top,
    .reading-bottom {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      @include media-breakpoint-down(md) {
        height: 10px;
      }
    }
    .reading-top {
      top: 0;
    }
    .reading-bottom {
      top: 100%;
    }
  }
}
