.inner-page {
  section.section-kv {
    img {
      @include media-breakpoint-down(md) {
        position: relative;
        left: -2.5%;
      }
      @media screen and (max-width: 389px) {
        left: -3%;
      }
      @media screen and (max-width: 359px) {
        left: -5%;
      }
    }
    h1, .h1 {
      top: 50%;
      left: 55%;
      width: 45%;
      transform: translateY(-50%);
      i.icon {
        color: $blue-200;
        vertical-align: middle;
      }
      @include media-breakpoint-up(md) {
        @include title-spacing(1);
      }
      @include media-breakpoint-down(md) {
        left: 48%;
        width: 52%;
        @include title-spacing(0.5);
      }
      @media screen and (max-width: 359px) {
        left: 45%;
        width: 55%;
      }
    }
    h1 {
      @include media-breakpoint-up(md) {
        font-size: $h2;
      }
      @include media-breakpoint-down(md) {
        font-size: $h3;
      }
      @media screen and (max-width: 359px) {
        font-size: $h4;
      }
    }
    .h1 {
      color: $orange-200;
      @include media-breakpoint-up(md) {
        font-size: $h2*3;
      }
      @include media-breakpoint-down(md) {
        font-size: $h3*3;
      }
      @media screen and (max-width: 359px) {
        font-size: $h4*3;
      }
    }
  }
  .container-summary {
    @include media-breakpoint-up(md) {
      display: grid;
      @at-root .book-page#{&} {
        grid-template-columns: 370px 1fr;
      }
      @at-root .author-page#{&} {
        grid-template-columns: 300px 1fr calc(100% - 1000px);
        align-items: start;
      }
    }
    .breadcrumb {
      grid-column-start: 0;
      @at-root .book-page#{&} {
        grid-column-end: span 2;
      }
      @at-root .author-page#{&} {
        grid-column-end: span 3;
      }
    }
    .col-master {
      position: relative;
    }
    .subtitle {
      display: flex;
      align-items: center;
      @at-root .author-page#{&} {
        flex-wrap: wrap;
        @include media-breakpoint-down(md) {
          flex-direction: column-reverse;
          align-items: flex-start;
        }
      }
      .label {
        padding: 3px 10px;
        color: $white;
        background-color: $orange-200;
        border-radius: 2em;
        @include media-breakpoint-up(md) {
          margin-right: 10px;
        }
        @include media-breakpoint-down(md) {
          margin-top: 10px;
        }
      }
      .text {
        color: $black;
        line-height: 1.3;
      }
    }
    .author-intro {
      p {
        @include media-breakpoint-up(md) {
          font-size: $h3;
        }
        @include media-breakpoint-down(md) {
          font-size: $h4;
        }
      }
    }
    hr {
      @at-root .book-page#{&} {
        border-color: $gray-100;
      }
    }
  }
  .container-detail {
    padding-top: 30px;
    @include media-breakpoint-up(md) {
      display: grid;
      grid-template-columns: 1030px 1fr;
      padding-top: 60px;
    }
    aside {
      @include media-breakpoint-up(md) {
        position: sticky;
        top: 180px;
        left: 0;
        height: fit-content;
      }
      @include media-breakpoint-down(md) {
        position: fixed;
        right: 10px;
        bottom: 60px;
        z-index: 3;
      }
      nav {
        ol {
          @include list(0, 0, none);
          li {
            @include media-breakpoint-up(md) {
              margin-top: 20px;
              text-align: right;
            }
            @include media-breakpoint-down(md) {
              margin-top: 10px;
              text-align: center;
            }
            a {
              &.btn-text {
                display: inline-table;
                color: $gray-300;
                font-size: $h5;
                &:hover, &.active {
                  color: $black;
                }
              }
            }
          }
        }
      }
    }
  }
  .reading {
    background-color: $gray-100;
    @include media-breakpoint-down(md) {
      margin-left: -$container-padding-x;
      margin-right: -$container-padding-x;
    }
    .reading-top,
    .reading-bottom {
      position: absolute;
      left: 50%;
      height: 10px;
      transform: translateX(-50%);
    }
    .reading-top {
      top: 0;
    }
    .reading-bottom {
      top: 100%;
    }
  }
  hr {
    border: solid $gray-200;
    border-width: 1px 0 0;
  }
}
