.announcement {
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: $white;
    font-size: $h5;
    background-color: $blue-200;
    @include media-breakpoint-up(md) {
        @include title-spacing(2);
        text-align: center;
    }
    .container {
        @include media-breakpoint-up(md) {
            display: block;
        }
        @include media-breakpoint-down(md) {
            display: grid;
            align-items: center;
            grid-template-columns: auto auto;
            padding-left: 10px;
            padding-right: 10px;
            > * {
                width: auto;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
    &:hover {
        background-color: lighten($blue-200, 5%);
    }
}
