.breadcrumb {
    margin-top: 30px;
    margin-bottom: 30px;
    ol {
        @include list(0, 0, none);
        display: flex;
        align-items: center;
        li {
            display: flex;
            align-items: center;
            color: $gray-300;
            @include media-breakpoint-up(md) {
                font-size: $h5;
            }
            @include media-breakpoint-down(md) {
                font-size: $h6;
            }
            &::after {
                @include beforeafter('>', block);
                width: 1rem;
                text-align: center;
            }
            a {
                color: $gray-300;
                &:hover {
                    color: $gray-400;
                }
            }
        }
    }
}
