.btn {
    display: table;
    text-align: center;
    &.btn-outlined,
    &.btn-contained {
        padding: 7px 15px;
        border: 1px solid;
        border-radius: 0.25rem;
        @include media-breakpoint-up(md) {
            padding: 10px 20px;
        }
    }
    &.btn-outlined {
        background-color: transparent;
        &.btn-primary {
            color: $blue-300;
            border-color: $blue-300;
            &:hover {
                color: $blue-200;
                border-color: $blue-200;
            }
        }
    }
    &.btn-contained {
        &.btn-white {
            color: $gray-400;
            background-color: $white;
            border-color: $white;
            &:hover {
                font-weight: 500;
            }
        }
        &.btn-primary {
            color: $white;
            background-color: $blue-300;
            border-color: $blue-300;
            &:hover {
                background-color: $blue-200;
                border-color: $blue-200;
            }
        }
        &.btn-gray {
            color: $blue-200;
            background-color: $gray-100;
            border-color: $gray-100;
        }
        &.btn-dark {
            color: $gray-400;
            background-color: $gray-100;
            border-color: $gray-100;
            &:hover {
                color: $black;
            }
        }
    }
    &.btn-sm {
        padding: 3px 10px;
    }
    &.btn-text {
        display: inline;
        text-align: initial;
        &.btn-decoration {
            text-decoration: underline;
            text-underline-position: under;
            text-decoration-thickness: from-font;
        }
        &.btn-black {
            color: $gray-400;
            &:hover {
                color: $black;
            }
        }
        &.btn-blue {
            color: $blue-200;
            border-bottom-color: $blue-200;
            &:hover {
                color: $blue-300;
            }
        }
    }
}
