.cards {
    .card-image {
        position: relative;
        display: block;
        img {
            position: relative;
            display: block;
            max-width: 100%;
            z-index: 1;
        }
    }
    .card-body {
        .card-title {
            display: block;
        }
    }
    a {
        &:not(.btn) {
            display: block;
        }
        span {
            display: block;
        }
    }
    .card-book-master {
        background-color: $gray-100;
        @at-root .swiper-book-master#{&} {
            padding: 35px;
        }
        @at-root .swiper-book-thumbnail#{&} {
            padding: 0.5rem;
        }
        .card-image {
            position: relative;
            overflow: hidden;
            &::before {
                @include beforeafter('', block);
                position: relative;
                width: 100%;
                padding-top: 105%;
            }
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100.1%;
                height: 100.1%;
                object-fit: contain;
                transform: translate(-50%, -50%);
                transition: width 0.3s $timing-function, height 0.3s $timing-function;
            }
        }
    }
    .card-book {
        .card-image {
            padding: 10px 10px 30px;
            &::before,
            &::after {
                @include beforeafter('', block);
            }
            &::before {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100px;
                background-color: $gray-100;
            }
            &::after {
                width: calc(100% - 20px);
                padding-top: 111.111111111111111%;
                margin-left: auto;
                margin-right: auto;
            }
            img {
                position: absolute;
                bottom: 30px;
                left: 10px;
                left: 10px;
                width: calc(100% - 20px);
                height: calc(100% - 40px);
                object-fit: contain;
                transition: transform 0.3s $timing-function;
                // box-shadow: 2px 2px 6px rgba($black, 0.2);
            }
        }
        .card-body {
            .card-title {
                color: $black;
            }
            .card-author {
                color: $gray-200;
            }
        }
        &:hover {
            .card-image img {
                transform: translateY(-10px);
            }
            .card-title {
                font-weight: 300;
            }
        }
    }
    &.cards-reading {
        @include media-breakpoint-up(md) {
            height: 700px;
        }
        @include media-breakpoint-down(md) {
            height: 470px;
            padding-bottom: 40px;
        }
    }
    .card-reading {
        @include media-breakpoint-up(md) {
            padding-top: 15px;
            padding-left: 15px;
            padding-bottom: 10px;
            margin-top: 0 !important;
            height: 340px;
        }
        @include media-breakpoint-down(md) {
            height: 100px;
            background-color: $white;
            a {
                display: flex;
                align-items: center;
            }
        }
        &::before {
            @include beforeafter('', block);
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 0;
            @include media-breakpoint-up(md) {
                width: 160px;
                height: 120px;
                background-color: $gray-200;
            }
        }
        .card-image {
            position: relative;
            overflow: hidden;
            @include media-breakpoint-down(md) {
                width: 130px;
                border: 5px solid $gray-200;
            }
            &::before {
                @include beforeafter('', block);
                position: relative;
                width: 100%;
                padding-top: 75%;
                @include media-breakpoint-up(md) {
                    padding-top: 74%;
                }
            }
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100.1%;
                height: 100.1%;
                transform: translate(-50%, -50%);
                transition: width 0.3s $timing-function, height 0.3s $timing-function;
            }
        }
        &:hover {
            .card-image img {
                max-width: none;
                width: 115%;
                height: 115%;
            }
        }
        .card-body {
            background-color: $white;
            @include media-breakpoint-down(md) {
                width: calc(100% - 130px);
            }
            .card-label {
                color: $gray-200;
            }
            .card-title {
                color: $gray-400;
                @include media-breakpoint-down(md) {
                    @include lineclamp(2);
                }
            }
        }
    }
    &.cards-digest {
        display: flex;
        flex-wrap: wrap;
        &.ellipsis-block {
            .card-digest {
                &:nth-child(4) ~ .card-digest {
                    display: none;
                }
            }
            .more {
                display: flex;
            }
        }
    }
    .card-digest {
        margin-bottom: 20px;
        @include media-breakpoint-up(md) {
            width: calc((100% - 60px) / 4);
            margin-right: 20px;
            &:nth-child(4n) {
                margin-right: 0;
            }
        }
        a {
            @include media-breakpoint-down(md) {
                display: flex;
            }
        }
        .card-image {
            position: relative;
            border: 5px solid $gray-200;
            overflow: hidden;
            @include media-breakpoint-down(md) {
                width: 130px;
            }
            &::before {
                @include beforeafter('', block);
                position: relative;
                width: 100%;
                padding-top: 75%;
                @include media-breakpoint-up(md) {
                    padding-top: 74%;
                }
            }
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100.1%;
                height: 100.1%;
                transform: translate(-50%, -50%);
                transition: width 0.3s $timing-function, height 0.3s $timing-function;
            }
        }
        &:hover {
            .card-image img {
                max-width: none;
                width: 115%;
                height: 115%;
            }
        }
        .card-body {
            background-color: $white;
            @include media-breakpoint-down(md) {
                width: calc(100% - 130px);
            }
            .card-label {
                color: $gray-200;
            }
            .card-title {
                color: $gray-400;
                @include lineclamp(2);
            }
        }
    }
    .card-author {
        .author & {
            padding-left: 10px;
            padding-right: 10px;
            @include media-breakpoint-up(md) {
                padding-left: 45px;
                padding-right: 45px;
            }
        }
        .card-image {
            position: relative;
            &::before,
            &::after {
                @include beforeafter('', block);
                position: absolute;
                top: 50%;
                left: 50%;
                border-radius: 50%;
                transform: translate(-50%, -50%);
                transition: width 0.3s $timing-function, height 0.3s $timing-function;
                z-index: 0;
            }
            &::before {
                width: calc(100% + 2px);
                height: calc(100% + 2px);
                background-color: $gray-200;
            }
            &::after {
                width: 100%;
                height: 100%;
            }
            img {
                position: relative;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                overflow: hidden;
                z-index: 1;
            }
        }
        &:hover {
            .card-image::after {
                width: calc(100% + 10px);
                height: calc(100% + 10px);
            }
        }
        .card-body {
            .card-label {
                display: table;
                padding: 1px 10px 0;
                margin-left: auto;
                margin-right: auto;
                color: $white;
                font-weight: bold;
                line-height: 2;
                background-color: $orange-200;
                border-radius: 20px;
            }
            .card-title {
                color: $black;
            }
        }
        &:not(.card-author-ing) {
            .card-image {
                &::after {
                    background-color: $gray-200;
                }
            }
        }
        &.card-author-ing {
            .card-image {
                &::after {
                    background-color: $orange-200;
                }
            }
        }
    }
    &.cards-video {
        @include media-breakpoint-up(md) {
            display: flex;
            flex-wrap: wrap;
        }
        &.ellipsis-block {
            .card-video {
                @include media-breakpoint-up(md) {
                    &:nth-child(3) ~ .card-video {
                        display: none;
                    }
                }
                @include media-breakpoint-down(md) {
                    &:nth-child(2) ~ .card-video {
                        display: none;
                    }
                }
            }
            .more {
                display: flex;
            }
        }
    }
    .card-video {
        cursor: pointer;
        @include media-breakpoint-up(md) {
            width: calc((100% - 60px) / 3);
            margin-left: 30px;
            &:nth-child(3n+1) {
                margin-left: 0;
            }
        }
        @include media-breakpoint-down(md) {
            width: 100%;
            margin-top: 20px;
            &:first-child {
                margin-top: 0;
            }
            @at-root .book-page #{&} {
                margin-top: 0;
            }
        }
        .card-image {
            position: relative;
            overflow: hidden;
            &::before {
                @include beforeafter('', block);
                position: relative;
                width: 100%;
                padding-top: 56.25%;
                background-color: rgba($gray-400, 0.3);
                z-index: 2;
            }
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100.1%;
                height: 100.1%;
                transform: translate(-50%, -50%);
                transition: width 0.3s $timing-function, height 0.3s $timing-function;
            }
            .icon-play {
                position: absolute;
                top: 50%;
                left: 50%;
                padding: $h2;
                color: $white;
                font-size: $h2*2;
                background-color: rgba($gray-400, 0.8);
                border-radius: 50%;
                transform: translate(-50%, -50%);
                z-index: 3;
            }
        }
        &:hover {
            .card-image img {
                max-width: none;
                width: 115%;
                height: 115%;
            }
        }
        .card-body {
            border-top: 5px solid $orange-200;
            .card-title {
                color: $black;
            }
        }
    }
    .card-topic {
        text-align: center;
        background-color: $gray-100;
        border-radius: 0.25rem;
        .card-image {
            img {
                width: 100%;
            }
        }
        .card-body {
            .card-title {
                color: $gray-400;
            }
        }
    }
    .card-series {
        padding: 5px;
        a {
            position: relative;
        }
        .card-image {
            &::before,
            &::after {
                @include beforeafter('', block);
            }
            &::after {
                width: 100%;
                padding-top: 133.8028169014085%;
                margin-left: auto;
                margin-right: auto;
            }
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                max-width: 100%;
                max-height: 100%;
                transition: transform 0.3s $timing-function;
                box-shadow: 2px 2px 6px rgba($black, 0.2);
                transform: translate(-50%, -50%);
            }
        }
        .card-label {
            position: absolute;
            bottom: 15px;
            left: -5px;
            padding: 5px 15px 5px 10px;
            color: $white;
            font-size: $h5;
            @include font-weight-500;
            line-height: 1.143;
            border-radius: 0 25px 25px 0;
            z-index: 2;
        }
        &.hot {
            .card-label {
                background-color: $orange-200;
            }
        }
        &.new {
            .card-label {
                background-color: $blue-200;
            }
        }
    }
    &.cards-author-intro {
        padding-bottom: 20px;
        margin-bottom: 30px;
        border-bottom: 1px solid $gray-200;
        @include media-breakpoint-up(md) {
            padding-left: 30px;
            padding-right: 30px;
        }
        &.ellipsis-block {
            .card-item {
                @include media-breakpoint-up(md) {
                    &:nth-child(2) ~ .card-item {
                        display: none;
                    }
                }
                @include media-breakpoint-down(md) {
                    &:nth-child(1) ~ .card-item {
                        display: none;
                    }
                }
            }
            .more {
                display: flex;
            }
        }
        &.expand-block {
            .collapse {
                display: flex;
            }
        }
        .card-item {
            display: grid;
            grid-template-columns: 135px auto;
            padding-bottom: 30px;
            color: $gray-400;
            + .card-item {
                padding-top: 40px;
                border-top: 1px solid $gray-200;
            }
        }
        .card-img {
            width: 110px;
            grid-row-start: 0;
            grid-row-end: span 2;
            img {
                width: 100%;
                border-radius: 50%;
                overflow: hidden;
            }
        }
        .card-author {
            @include media-breakpoint-up(md) {
                display: flex;
                align-items: center;
            }
            .author-name {
                @include media-breakpoint-up(md) {
                    margin-right: 25px;
                }
                @include media-breakpoint-down(md) {
                    margin-bottom: 15px;
                }
            }
        }
        .card-txt {
            @include lineclamp(6);
            @include media-breakpoint-down(md) {
                grid-column-start: 0;
                grid-column-end: span 2;
            }
        }
    }
    &.cards-extended {
        @include media-breakpoint-down(md) {
            font-size: $h5;
        }
        .card-item {
            display: flex;
            align-items: center;
            + .card-item {
                margin-top: 20px;
            }
        }
        .card-label {
            margin-right: 15px;
            color: $white;
            background-color: $orange-200;
            border-radius: 2em;
            @include media-breakpoint-up(md) {
                padding: 2px 15px;
            }
            @include media-breakpoint-down(md) {
                padding: 2px 10px;
            }
        }
        .card-title {
            @include media-breakpoint-up(md) {
                width: calc(100% - 80px);
            }
            @include media-breakpoint-down(md) {
                width: calc(100% - 65px);
            }
        }
    }
}
