.cards {
    .card-image {
        position: relative;
        display: block;
        img {
            position: relative;
            display: block;
            z-index: 1;
        }
    }
    .card-body {
        .card-title {
            display: block;
        }
    }
    .card-book {
        .card-image {
            padding: 10px 10px 30px;
            &::before,
            &::after {
                @include beforeafter('', block);
            }
            &::before {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100px;
                background-color: $gray-100;
            }
            &::after {
                width: calc(100% - 20px);
                padding-top: 111.111111111111111%;
                margin-left: auto;
                margin-right: auto;
            }
            img {
                position: absolute;
                bottom: 30px;
                left: 10px;
                left: 10px;
                width: calc(100% - 20px);
                height: calc(100% - 40px);
                object-fit: contain;
                transition: transform 0.3s $timing-function;
                // box-shadow: 2px 2px 6px rgba($black, 0.2);
            }
        }
        .card-body {
            .card-title {
                color: $black;
            }
            .card-author {
                color: $gray-200;
            }
        }
        &:hover {
            .card-image img {
                transform: translateY(-10px);
            }
            .card-title {
                font-weight: 300;
            }
        }
    }
    &.cards-reading {
        @include media-breakpoint-up(md) {
            height: 700px;
        }
        @include media-breakpoint-down(md) {
            height: 470px;
            padding-bottom: 40px;
        }
    }
    .card-reading {
        @include media-breakpoint-up(md) {
            padding-top: 15px;
            padding-left: 15px;
            padding-bottom: 10px;
            margin-top: 0 !important;
            height: 340px;
        }
        @include media-breakpoint-down(md) {
            display: flex;
            align-items: center;
            height: 100px;
            background-color: $white;
        }
        &::before {
            @include beforeafter('', block);
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 0;
            @include media-breakpoint-up(md) {
                width: 160px;
                height: 120px;
                background-color: $gray-200;
            }
        }
        .card-image {
            position: relative;
            overflow: hidden;
            @include media-breakpoint-down(md) {
                width: 130px;
                border: 5px solid $gray-200;
            }
            &::before {
                @include beforeafter('', block);
                position: relative;
                width: 100%;
                padding-top: 75%;
                @include media-breakpoint-up(md) {
                    padding-top: 74%;
                }
            }
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 101%;
                height: 101%;
                transform: translate(-50%, -50%);
                transition: width 0.3s $timing-function, height 0.3s $timing-function;
            }
            &:hover {
                img {
                    width: 115%;
                    height: 115%;
                }
            }
        }
        .card-body {
            background-color: $white;
            @include media-breakpoint-down(md) {
                width: calc(100% - 130px);
            }
            .card-lable {
                color: $gray-200;
            }
            .card-title {
                color: $gray-400;
                @include media-breakpoint-down(md) {
                    @include lineclamp(2);
                }
            }
        }
    }
    .card-author {
        .author & {
            padding-left: 10px;
            padding-right: 10px;
            @include media-breakpoint-up(md) {
                padding-left: 45px;
                padding-right: 45px;
            }
        }
        .card-image {
            position: relative;
            &::before,
            &::after {
                @include beforeafter('', block);
                position: absolute;
                top: 50%;
                left: 50%;
                border-radius: 50%;
                transform: translate(-50%, -50%);
                transition: width 0.3s $timing-function, height 0.3s $timing-function;
                z-index: 0;
            }
            &::before {
                width: calc(100% + 2px);
                height: calc(100% + 2px);
                background-color: $gray-200;
            }
            &::after {
                width: 0;
                height: 0;
            }
            img {
                position: relative;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                overflow: hidden;
                z-index: 1;
            }
            &:hover {
                &::after {
                    width: calc(100% + 10px);
                    height: calc(100% + 10px);
                }
            }
        }
        .card-body {
            .card-label {
                display: table;
                padding: 1px 10px 0;
                margin-left: auto;
                margin-right: auto;
                color: $white;
                font-weight: bold;
                line-height: 2;
                background-color: $orange-100;
                border-radius: 20px;
            }
            .card-title {
                color: $black;
            }
        }
        &:not(.card-author-ing) {
            .card-image {
                &::after {
                    background-color: $gray-200;
                }
            }
        }
        &.card-author-ing {
            .card-image {
                &::after {
                    background-color: $orange-100;
                }
            }
        }
    }
    &.cards-video {
        @include media-breakpoint-up(md) {
            display: flex;
            flex-wrap: wrap;
        }
    }
    .card-video {
        @include media-breakpoint-up(md) {
            width: calc((100% - 60px) / 3);
            margin-left: 30px;
            &:nth-child(3n+1) {
                margin-left: 0;
            }
        }
        @include media-breakpoint-down(md) {
            width: 100%;
            margin-top: 20px;
            &:first-child {
                margin-top: 0;
            }
        }
        .card-image {
            position: relative;
            overflow: hidden;
            &::before {
                @include beforeafter('', block);
                position: relative;
                width: 100%;
                padding-top: 56.25%;
                background-color: rgba($gray-400, 0.3);
                z-index: 2;
            }
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 101%;
                height: 101%;
                transform: translate(-50%, -50%);
                transition: width 0.3s $timing-function, height 0.3s $timing-function;
            }
            &:hover {
                img {
                    width: 115%;
                    height: 115%;
                }
            }
            .icon-play {
                position: absolute;
                top: 50%;
                left: 50%;
                padding: $h2;
                color: $white;
                font-size: $h2*2;
                background-color: rgba($gray-400, 0.8);
                border-radius: 50%;
                transform: translate(-50%, -50%);
                z-index: 3;
            }
        }
        .card-body {
            border-top: 5px solid $orange-100;
            .card-title {
                color: $black;
            }
        }
    }
    .card-topic {
        text-align: center;
        background-color: $gray-100;
        border-radius: 0.25rem;
        .card-image {
            img {
                width: 100%;
            }
        }
        .card-body {
            .card-title {
                color: $gray-400;
            }
        }
    }
}
