%font-basic {
  margin-top: 1em;
  margin-bottom: 1em;
}
%font-weight-500 {
  font-weight: 500;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  @extend %font-basic;
  @extend %font-weight-500;
}

h1, .h1, .fs-1 {
  font-size: $h1;
}
h2, .h2, .fs-2 {
  font-size: $h2;
}
h3, .h3, .fs-3 {
  font-size: $h3;
}
h4, .h4, .fs-4 {
  font-size: $h4;
}
h5, .h5, .fs-5 {
  font-size: $h5;
}
h6, .h6, .fs-6 {
  font-size: $h6;
}
