$hamburger: (
  width:  38px,
  height: 35px, // 3*(3+2)
  unit:   3px,
  gap:    3px
);

.hamburger {
  position: relative;
  width: map-get($hamburger, width);
  height: map-get($hamburger, height);
  padding: 10px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  @include media-breakpoint-up(md) {
    display: none;
  }
  span {
    display: block;
    width: 100%;
    height: map-get($hamburger, unit);
    background-color: $dark;
    border-radius: 10px;
    + span {
      margin-top: map-get($hamburger, gap);
    }
    @at-root {
      .active#{&},
      :hover#{&} {
        background-color: $black;
      }
    }
  }
  @include media-breakpoint-down(md) {
    &.opened {
      span {
        width: map-get($hamburger, width) * 0.625;
        // height: map-get($hamburger, unit) - 1px;
        margin-top: 0;
        &:nth-child(1) {
          transform: rotate(-45deg) translate(-3px, 0px);
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          transform: rotate(45deg) translate(-2.5px, 0.5px);
        }
      }      
    }
  }
}
