$hamburger: (
  width:  18px,
  unit:   3px,
  gap:    3px
);

.hamburger {
  position: relative;
  width: map-get($hamburger, width);
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  @include media-breakpoint-up(md) {
    display: none;
  }
  span {
    display: block;
    width: 100%;
    height: map-get($hamburger, unit);
    background-color: $dark;
    border-radius: 10px;
    + span {
      margin-top: map-get($hamburger, gap);
    }
    @at-root {
      .active#{&},
      :hover#{&} {
        background-color: $black;
      }
    }
  }
}
