header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  @include media-breakpoint-up(md) {
    background-color: $white;
  }
  .container {
    display: flex;
    align-items: center;
    column-gap: 10px;
    border-bottom: 1px solid $gray-100;
    background-color: $white;
    @include media-breakpoint-up(md) {
      align-items: flex-end;
      column-gap: 20px;
    }
    .hamburger {
      z-index: 1;
    }
    a.brand {
      position: relative;
      display: block;
      z-index: 1;
      img {
        display: block;
      }
    }
    &::before {
      @include beforeafter('', block);
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100% - 40px);
      height: 100%;
      background-color: $white;
      border-bottom: 1px solid $gray-100;
      transition: transform 0.5s $timing-function;
      transform: translateX(-100%);
    }
  }
  &.opened .container {
    border-bottom-color: transparent;
    background-color: transparent;
    &::before {
      transform: translateX(0%);
    }
  }
  .collapse-nav {
    @include media-breakpoint-up(md) {
      display: flex !important;
      align-items: center;
      column-gap: 30px;
    }
    @include media-breakpoint-down(md) {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 0 20px 20px;
      flex-direction: column-reverse;
      background-color: $white;
      z-index: 1;
    }
  }
  ul.keywords {
    display: flex;
    column-gap: 20px;
    @include list(0, 10px 0, none);
    li {
      font-size: $h4;
      @include media-breakpoint-up(md) {
        font-size: $h5;
      }
      a {
        color: $gray-300;
        &::before {
          @include beforeafter('#', inline);
        }
        &:hover {
          color: $gray-400;
        }
      }
    }
  }
}
