@import "mixins/breakpoint";
@import "mixins/container";
@import "mixins/grid";
@import "mixins/utilities";

@mixin list($margin, $padding, $style) {
  margin: $margin;
  padding: $padding;
  list-style: $style;
}

@mixin beforeafter($content, $display) {
  content: $content;
  display: $display;
}

@mixin clear() {
  @include beforeafter('', table);
  clear: both;
}

@mixin ellipsis() {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin lineclamp($line) {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

@mixin title-spacing($unit) {
  letter-spacing: 0.125rem * 0.5 * $unit;
}

@mixin font-weight-500 {
  font-weight: 500;
}
