button.more,
button.collapse {
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
    color: $gray-300;
    background-color: $white;
    border: 0;
    appearance: none;
    &:hover {
        color: $gray-400;
    }
    i.icon {
        margin-top: 5px;
    }
    .reading & {
        background-color: transparent;
    }
}

