nav.menu {
  position: fixed;
  background-color: $white;
  border-bottom: 1px solid $gray-200;
  @include media-breakpoint-up(md) {
    top: 106px; // 40+50+10+1
    width: 100%;
    z-index: 2;
  }
  @include media-breakpoint-down(md) {
    top: 0%;
    left: 0;
    width: calc(100% - 40px);
    height: 100%;
    transition: transform 0.5s $timing-function;
    transform: translateX(-100%);
    overflow: scroll;
    z-index: 1;
    &.opened {
      transform: translateX(0%);
    }
  }
  ul {
    @include list(0, 0, none);
  }
  > ul {
    position: relative;
    @include media-breakpoint-up(md) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    > li {
      @include media-breakpoint-up(md) {
        padding-left: 20px;
        padding-right: 20px;
      }
      @include media-breakpoint-down(md) {
        position: relative;
        margin: 20px 0;
      }
      > a, > span {
        display: block;
        padding: 13px 30px;
        color: $gray-400;
        font-weight: 400;
        @include media-breakpoint-up(md) {
          padding: 16px 0;
          border: solid transparent;
          border-width: 4px 0;
        }
      }
      > span {
        cursor: pointer;
        @include media-breakpoint-up(md) {
          transition: color 0.3s, background 0.3s, border-color 0.3s;
        }
      }
      > .open-block {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0;
        color: $gray-300;
        background-color: transparent;
        border: 0;
        appearance: none;
        @include media-breakpoint-up(md) {
          display: none;
        }
        i.icon {
          display: block;
          padding: 17px 40px;
          transition: transform 0.3s;
        }
        &.opened {
          i.icon {
            transform: rotate(180deg);
          }
        }
      }
      > .block {
        display: none;
        background-color: $gray-100;
        @include media-breakpoint-up(md) {
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
        }
        @include media-breakpoint-down(md) {
          padding-left: 10px;
          padding-right: 10px;
          &.opened {
            display: block;
          }
        }
        .container {
          max-width: 1130px;
          @include media-breakpoint-up(md) {
            display: flex;
          }
          > div {
            white-space: nowrap;
            &.anchor {
              .btn {
                @include media-breakpoint-down(md) {
                  width: 100%;
                  line-height: 2.125;
                }
                +.btn {
                  margin-top: 10px;
                }
              }
            }
            &.recommend {
              display: flex;
              flex-wrap: wrap;
              align-content: space-between;
              @include media-breakpoint-up(md) {
                margin-left: 40px;
                margin-right: 100px;
              }
              > ul {
                display: flex;
                flex-wrap: wrap;
                @include media-breakpoint-up(md) {
                  gap: 10px;
                }
                @include media-breakpoint-down(md) {
                  margin-top: 20px;
                  gap: 20px 10px;
                }
              }
              > .spec-button {
                width: 100%;
                padding-top: 12px;
                padding-bottom: 7px;
                text-align: center;
                border-top: 1px solid $gray-200;
              }
            }
            &.banner {
              margin-left: auto;
              @include media-breakpoint-down(md) {
                display: none;
              }
              a {
                display: inline-block;
                + a {
                  margin-left: 40px;
                }
                img {
                  display: block;
                  height: 220px;
                }
              }
            }
          }
        }
      }
      &:hover {
        > a, > span {
          font-weight: 500;
          border-bottom-color: $blue-200;
        }
        > .block {
          @include media-breakpoint-up(md) {
            display: block;
          }
        }
      }
    }
  }
}
