.swiper-opening {
  overflow: visible;
  a {
    display: block;
  }
  img {
    display: block;
    width: 100%;
  }
  .swiper-slide {
    opacity: 0.5;
    transition: opacity 0.3s $timing-function;
    &.swiper-slide-active {
      opacity: 1;
    }
  }
  .swiper-opening-pagination {
    position: absolute;
    bottom: 20px;
  }
}
