.open-search {
  color: $gray-400;
  background-color: transparent;
  border: 0;
  appearance: none;
  @include media-breakpoint-up(md) {
    display: none;
  }
  @include media-breakpoint-down(md) {
    position: relative;
    margin-right: -10px;
    padding-top: 13px;
    padding-bottom: 13px;
    z-index: 1;
    .opened & {
      z-index: -1;
    }
  }
  i.icon {
    display: block;
    @include media-breakpoint-up(md) {
      font-size: $h2 * 1.2;
    }
    @include media-breakpoint-down(md) {
      font-size: $h2;
    }
  }
}

.search-group {
  display: flex;
  align-items: center;
  @include media-breakpoint-down(md) {
    padding: 10px 0;
  }
  input {
    max-width: 300px;
    width: 100%;
    font-size: $h4;
    line-height: $h2;
    background-color: $gray-100;
    border: 0;
  }
  button {
    color: $gray-400;
    background-color: $gray-100;
    border: 0;
    appearance: none;
    i.icon {
      display: block;
      font-size: $h2;
    }
  }
}
