.slogan {
  background-color: $gray-100;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    letter-spacing: 0.125rem;
    @include media-breakpoint-up(md) {
      column-gap: 20px;
    }
    i.icon {
      font-size: 2.5rem;
    }
    p {
      color: $gray-400;
    }
  }
}
