.swiper {
  &.swiper-latest,
  &.swiper-series,
  &.swiper-book {
    @include media-breakpoint-down(md) {
      padding-left: 20px;
      padding-right: 60px;
    }
  }
  &.swiper-author {
    @include media-breakpoint-down(md) {
      padding-left: 20px;
      padding-right: 70px;
    }
  }
  &.swiper-topic {
    @include media-breakpoint-down(md) {
      padding-left: 20px;
      padding-right: 40px;
    }
  }
  .swiper-pagination-bullets {
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0,0,0);
    z-index: 10;
    .swiper-pagination-bullet {
      width: 5px;
      height: 5px;
      margin-left: 8px;
      margin-right: 8px;
      background-color: $gray-300;
      opacity: 1;
      @include media-breakpoint-up(md) {
        width: 8px;
        height: 8px;
      }    
      &.swiper-pagination-bullet-active {
        background-color: $gray-400;
      }
    }
  }
  .swiper-opening-pagination {
    .swiper-pagination-bullet {
      background-color: $gray-300;
      &.swiper-pagination-bullet-active {
        background-color: $gray-400;
      }
    }
  }
  .swiper-latest-pagination {
    .swiper-pagination-bullet {
      background-color: $gray-200;
      &.swiper-pagination-bullet-active {
        background-color: $gray-400;
      }
    }
  }
}

.swiper-pagination-bullets {
  text-align: center;
  transition: .3s opacity;
  transform: translate3d(0,0,0);
  z-index: 10;
  .swiper-pagination-bullet {
    margin-left: 8px;
    margin-right: 8px;
    background-color: $gray-300;
    opacity: 1;
    &.swiper-pagination-bullet-active {
      background-color: $gray-400;
    }
  }
}
.swiper-opening-pagination {
  position: absolute;
  bottom: 20px;
  .swiper-pagination-bullet {
    background-color: $gray-300;
    &.swiper-pagination-bullet-active {
      background-color: $gray-400;
    }
  }
}
.swiper-latest-pagination {
  .swiper-pagination-bullet {
    background-color: $gray-200;
    &.swiper-pagination-bullet-active {
      background-color: $gray-300;
    }
  }
}

%swiper-nav {
  position: absolute;
  top: 50%;
  color: $gray-200;
  transform: translateY(-50%);
  cursor: pointer;
  @include media-breakpoint-up(md) {
    transition: color 0.3s, background 0.3s, border-color 0.3s;
  }
  &:hover {
    color: $blue-200;
  }
  &.swiper-button-disabled {
    color: $gray-100;
    cursor: not-allowed;
  }
}

.swiper-book-master-button-prev,
.swiper-book-master-button-next,
.swiper-book-thumbnail-button-prev,
.swiper-book-thumbnail-button-next,
.swiper-latest-button-prev,
.swiper-latest-button-next,
.swiper-book-button-prev,
.swiper-book-button-next,
.swiper-series-button-prev,
.swiper-series-button-next,
.swiper-topic-button-prev,
.swiper-topic-button-next {
  @extend %swiper-nav;
  font-size: 2.5rem;
}
.swiper-book-thumbnail-button-prev,
.swiper-book-thumbnail-button-next {
  @extend %swiper-nav;
  font-size: 1.25rem;
}

.swiper-book-master-button-prev,
.swiper-latest-button-prev,
.swiper-book-button-prev,
.swiper-series-button-prev,
.swiper-topic-button-prev {
  left: -10px;
}
.swiper-book-thumbnail-button-prev {
  left: -5px;
}

.swiper-book-master-button-next,
.swiper-book-thumbnail-button-next,
.swiper-latest-button-next,
.swiper-book-button-next,
.swiper-series-button-next,
.swiper-topic-button-next {
  right: -10px;
}
.swiper-book-thumbnail-button-next {
  right: -5px;
}
