@import "import";
@import "common";

body {
  line-height: 1.5;
  padding-top: 71px; // 10+50+10+1
  @include media-breakpoint-up(md) {
    padding-top: 171px; // 40+50+10+1+65
  }
}

@import "font";

@import "space";
@import "container";
@import "grid";

// 書籍翻頁
// @import "swipe";
@import "header";
@import "footer";
@import "icon";
@import "search";
@import "nav";
@import "button";
@import "title";
@import "swiper";
@import "card";
@import "newsletter";
@import "embed";
@import "modal";
@import "breadcrumb";
@import "more";

@import "page/index";
@import "page/inner";
@import "page/book";
@import "page/article";
@import "page/author";

.black {
  position: fixed;
  top: 0;
  left: 0;
  background-color: darken($black, 5%);
  opacity: 0.5;
  z-index: 1;
  &.opened {
    width: 100%;
    height: 100%;
  }
  &.modal-black {
    z-index: 5;
  }
}

main {
  position: relative;
  z-index: 0;
  @include media-breakpoint-down(md) {
    overflow: hidden;
  }
}
