@import "import";
@import "common";

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  padding-top: 71px; // 10+50+10+1
  @include media-breakpoint-up(md) {
    padding-top: 171px; // 40+50+10+1+65
  }
  &.opened {
    overflow: hidden;
  }
}

@import "font";

.text-decoration {
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: from-font;
}

@import "space";
@import "container";
@import "grid";
@import "icon";

@import "button";

@import "header";
@import "search";
@import "nav";
@import "footer";
@import "swiper";
@import "slogan";
@import "announcement";
@import "title";
@import "card";
@import "reading";

@import "page/index";
@import "page/inner";
@import "page/search";
@import "page/book";
@import "page/article";
@import "page/author";

main {
  position: relative;
  // z-index: 0;
  @include media-breakpoint-down(md) {
    overflow: hidden;
  }
  section {
    position: relative;
    z-index: 0;
    .anchor {
      position: absolute;
    }
  }
}
