@import "import";
@import "common";

@import url('https://fonts.googleapis.com/css2?family=Material+Icons');

body {
  line-height: 1.5;
}

@import "space";
@import "container";
@import "grid";

// 書籍翻頁
@import "swipe";
@import "header";
@import "hamburger";
@import "search";
@import "nav";
@import "button";

.black {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $black;
  opacity: 0.5;
  &.opened {
    width: 100%;
    height: 100%;
  }
}
