$hamburger: (
  width: 20px,
  unit:  3px,
  gap:   4px
);

.hamburger {
  position: relative;
  width: map-get($hamburger, width);
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  span {
    display: block;
    width: 100%;
    height: map-get($hamburger, unit);
    background-color: $gray-500;
    + span {
      margin-top: map-get($hamburger, gap);
    }
    @at-root {
      .active#{&},
      :hover#{&} {
        background-color: $black;
      }
    }
  }
}
